
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClickN'Go | Hardware & Software</title>
    <link rel="icon" href="/img/logo.png" type="image/png">
    <link rel="stylesheet" href="/css/theme.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body data-theme="dark">
    <%- include('partials/header') %>

    <main class="container">
        <%- body %>
    </main>

    <%- include('partials/footer') %>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
